@{
    ViewData["Title"] = "Personality Page";
}

    <section class="Personality_Page" id="Personality_Page">
         <img src="~/images/FirstSection_BG.png" alt="Background" class="background-image">
        <div class="Personal_Text_Container">
            <h1>Personality Types</h1>
            <div class="button-container">
            <a type="button" class="btn_takequiz" asp-area="" asp-controller="QuizUI" asp-action="QuizPage1">Take a quiz</a>
            </div>
        </div>

        <div class="Analysts-Text-Container">
            <img src="~/images/Analyst_Text_new.png" alt="">
        </div>

        <div class="Personality_Type_Image_Container">
            <div class="vector_container">
            <div class="vector-item" onclick="window.location.href='@Url.Action("Architect", "Personality")'">
                    <img class="vector1" src="~/images/Architect.png" alt="">
                    <div class="title-text title1">
                        <h1 class="types text1">Architect</h1>
                        <h3 class="desc">INTJ - A / INTJ - T</h3>
                    </div>
                </div>

            <div class="vector-item" onclick="window.location.href='@Url.Action("Logician", "Personality")'">
                    <img class="vector2" src="~/images/Logician.png" alt="">
                    <div class="title-text title2">
                        <h1 class="types text2">Logician</h1>
                        <h3 class="desc">INTJ-A / INTP-T</h3>
                    </div>
                </div>

            <div class="vector-item" onclick="window.location.href='@Url.Action("Commander", "Personality")'">
                    <img class="vector3" src="~/images/Commander.png" alt="">
                    <div class="title-text title3">
                        <h1 class="types text3">Commander</h1>
                        <h3 class="desc">ENTJ-A / INTJ-T</h3>
                    </div>
                </div>

            <div class="vector-item" onclick="window.location.href='@Url.Action("Debater", "Personality")'">
                    <img class="vector4" src="~/images/Debater.png" alt="">
                    <div class="title-text title4">
                        <h1 class="types text4">Debater</h1>
                        <h3 class="desc">INTJ-A / INTJ-T</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


  <section class="Diplomat_Page" id="Diplomat_Page">
    <img src="~/images/SecondSection_BG.png" alt="Background" class="background-image">
     <div class="Diplomat-Text-Container">
            <img src="~/images/Diplomat_Text-Image.png" alt="">
        </div>

        <div class="Diplomat_Type_Image_Container">
            <div class="vector_container">
            <div class="vector-item" onclick="window.location.href='@Url.Action("Advocate", "Personality")'">
                    <img class="vector1" src="~/images/Advocate.png" alt="">
                    <div class="title-text title1">
                        <h1 class="types text1">Advocate</h1>
                        <h3 class="desc">INFJ - A / INFJ - T</h3>
                    </div>
                </div>

            <div class="vector-item" onclick="window.location.href='@Url.Action("Mediator", "Personality")'">
                    <img class="vector2" src="~/images/Mediator.png" alt="">
                    <div class="title-text title2">
                        <h1 class="types text2">Mediator</h1>
                        <h3 class="desc">INFP-A / INFP-T</h3>
                    </div>
                </div>

            <div class="vector-item" onclick="window.location.href='@Url.Action("Protagonist", "Personality")'">
                    <img class="vector3" src="~/images/Protagonist.png" alt="">
                    <div class="title-text title3">
                        <h1 class="types text3">Protagonist</h1>
                        <h3 class="desc">ENFJ-A / ENFJ-T</h3>
                    </div>
                </div>

            <div class="vector-item" onclick="window.location.href='@Url.Action("Campaigner", "Personality")'">
                    <img class="vector4" src="~/images/Campaigner.png" alt="">
                    <div class="title-text title4">
                        <h1 class="types text4">Campaigner</h1>
                        <h3 class="desc">ENFP-A / ENFP-T</h3>
                    </div>
                </div>
            </div>
        </div>
  </section>


  <section class="Sentinel_Page" id="Sentinel_Page">
    <img src="~/images/ThirdSection_BG.png" alt="Background" class="background-image">
     <div class="Sentinel-Text-Container">
            <img src="~/images/Sentinels_Text-Image.png" alt="">
        </div>

        <div class="Diplomat_Type_Image_Container">
            <div class="vector_container">
            <div class="vector-item">
                    <img class="vector1" src="~/images/Logistician.png" alt="">
                    <div class="title-text title1">
                        <h1 class="types text1">Logistician</h1>
                        <h3 class="desc">ISFJ - A / ISFJ - T</h3>
                    </div>
                </div>

            <div class="vector-item">
                    <img class="vector2" src="~/images/Defender.png" alt="">
                    <div class="title-text title2">
                        <h1 class="types text2">Defender</h1>
                        <h3 class="desc">ISFJ-A / ISFJ-T</h3>
                    </div>
                </div>

            <div class="vector-item">
                    <img class="vector3" src="~/images/Executive.png" alt="">
                    <div class="title-text title3">
                        <h1 class="types text3">Executive</h1>
                        <h3 class="desc">ESTJ-A / ESTJ-T</h3>
                    </div>
                </div>

            <div class="vector-item">
                    <img class="vector4" src="~/images/Consul.png" alt="">
                    <div class="title-text title4">
                        <h1 class="types text4">Consul</h1>
                        <h3 class="desc">ESFJ-A / ESFJ-T</h3>
                    </div>
                </div>
            </div>
        </div>
  </section>

     <section class="Explorer_Page" id="Explorer_Page">
        <img src="~/images/FourthSection_BG.png" alt="Background" class="background-image">
     <div class="Explorer-Text-Container">
            <img src="~/images/Explorer_Text-Image.png" alt="">
        </div>

        <div class="Explorer_Type_Image_Container">
            <div class="vector_container">
                <div class="vector-item">
                <a asp-area="" asp-controller="Personality" asp-action="Virtuoso">
                    <img class="vector1" src="~/images/Virtuosooo.png" alt="">
                </a>
                    <div class="title-text title1">
                        <h1 class="types text1">Virtuoso</h1>
                        <h3 class="desc">ISTP - A / ISFP - T</h3>
                    </div>
                </div>

                <div class="vector-item">
                <a asp-area="" asp-controller="Personality" asp-action="Adventurer">
                    <img class="vector2" src="~/images/Adventurer.png" alt="">
                </a>
                    <div class="title-text title2">
                        <h1 class="types text2">Adventurer</h1>
                        <h3 class="desc">ISFP-A / ISFP-T</h3>
                    </div>
                </div>

                <div class="vector-item">
                <a asp-area="" asp-controller="Personality" asp-action="Entrepreneur">
                    <img class="vector3" src="~/images/Entrepreneur.png" alt="">
                </a>
                    <div class="title-text title3">
                        <h1 class="types text3">Entrepreneur</h1>
                        <h3 class="desc">ESTP-A / ESTP-T</h3>
                    </div>
                </div>

                <div class="vector-item">
                <a asp-area="" asp-controller="Personality" asp-action="Entertainer">
                    <img class="vector4" src="~/images/Entertainer.png" alt="">
                </a>
                    <div class="title-text title4">
                        <h1 class="types text4">Entertainer</h1>
                        <h3 class="desc">ESFP-A / ESFP-T</h3>
                    </div>
                </div>
            </div>
        </div>
  </section>
